<!-- Footer -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" data-thumbnail="https://www.psd2newsletters.com/templates/purple/thumbnails/footer.jpg" data-module="Footer">
  <tbody><tr>
    <td align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#F3F4F6">
      <table width="600" border="0" cellspacing="0" cellpadding="0" class="m-shell ui-resizable">
        <tbody><tr>
          <td class="td" style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td class="mpx-10">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td data-bgcolor="Footer" class="p-50 mpx-15" bgcolor="#949196" style="border-radius: 0 0 10px 10px; padding: 50px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td align="center" class="pb-20" style="padding-bottom: 20px;">
                          <!-- Socials -->
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td class="img" width="34" style="font-size:0pt; line-height:0pt; text-align:left;">
                                <a href="https://www.facebook.com/congtyvienthongquoctefpt/?__tn__=kC-R&eid=ARDoOQo9of6D7YAua9Jxy1PpqoqnoQbIy4L4Jd6cO6pypSwxGDWIwSed2f9U4d1awZJmmGXZJg0sUPb6&hc_ref=ARRJ335VHMDONHF-u6nSbhV9WMVBGkvmcKzWHXAElH74emcpMb0UhEkuk3-ZmW0Xv8I&__xts__[0]=68.ARBVC1ZWlE6ItOxqt1bheHWXsmawCwRNeiEaXi1OxIzg9U3fKxg-l_OkNW0W-by92E4PBGUWJvCun7MfqNEXx62iu2QqgpaLX3tbG-0TnEk9k3shwfYzMzqezDHMzs4cqapdc8_GZOtQ_Z6hKrNYu4hesZ30VFP1DurqFL_5BkR8jbZBvfUWi8M7TuN6ZdzyQ1_FYwtqnX1Ztr1uzggbRotARjzd2airQt82tGh-q-Mgp6Vyx-cgTA6zt-gfU9W8HIzyTu4xwkhYWwgb-Nrq7bNDZxhPR07ZpXwdqbbdq_2KALVgR7MMlYLF4wUKL2qfiB7UewIvGTwxNAQtZEcIFw1tFx9LpDxajzRy4zU94AxE2NO5bHAi3Fr3_EYo59DUUoqY6GhJccyVB81iYEgooUH49czHRB7BP7-_uX3llAlPoaLbd9f2bG70fo8" target="_blank"><img src="https://dev.fpt.work/images/FTI/a90f1917-2d26-4915-aa0b-786dd285e561.png" width="34" height="34" border="0" alt=""></a>
                              </td>
                              <td class="img" width="15" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                              <td class="img" width="34" style="font-size:0pt; line-height:0pt; text-align:left;">
                                <a href="#" target="_blank"><img src="https://dev.fpt.work/images/FTI/f6f9f285-941f-4fd4-91a9-5d20a90ac01f.png" width="34" height="34" border="0" alt=""></a>
                              </td>
                              <td class="img" width="15" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                              <td class="img" width="34" style="font-size:0pt; line-height:0pt; text-align:left;">
                                <a href="#" target="_blank"><img src="https://dev.fpt.work/images/FTI/cdbd0e75-1cce-499f-8bab-856f82ec4c27.png" width="34" height="34" border="0" alt=""></a>
                              </td>
                              <td class="img" width="15" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                              <td class="img" width="34" style="font-size:0pt; line-height:0pt; text-align:left;">
                                <a href="#" target="_blank"><img src="http://dev.fpt.work/images/FTI/99045207-61e8-4bcd-a911-ce1564e7b16f.png" width="34" height="34" border="0" alt=""></a>
                              </td>
                            </tr>
                          </tbody></table>
                          <!-- END Socials -->
                        </td>
                      </tr>
                      <tr>
                        <td data-color="text-color-footer" data-size="text-size-footer" data-min="12" data-max="36" class="text-14 lh-24 a-center c-white l-white pb-20" style="font-size:14px; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 24px; text-align:center; color:#ffffff; padding-bottom: 20px;">
                          Tầng 12A tòa nhà TNR 54A Nguyễn Chí Thanh, Đống Đa, Hà Nội.
                          <br>
                          <a href="tel:+842473002222" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">84 24&nbsp;7300 2222</span></a> - <a href="tel:+842473002222" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">+84 28&nbsp;7300 8889</span></a>
                          <br>
                          <a href="mailto:fvpn.support@fpt.com.vn" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">fvpn.support@fpt.com.vn</span></a> - <a href="https://fptvpn.com/" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">https://fptvpn.com</span></a>
                        </td>
                      </tr>
                      <tr>
                        <td align="center">
                          <!-- Download App -->
                          <!-- <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td class="img" width="117" style="font-size:0pt; line-height:0pt; text-align:left;">
                                  <a href="#" target="_blank"><img src="https://www.psd2newsletters.com/templates/purple/images/btn_appstore.png" width="117" height="40" border="0" alt=""></a>
                                </td>
                                <td class="img" width="15" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                                <td class="img" width="117" style="font-size:0pt; line-height:0pt; text-align:left;">
                                  <a href="#" target="_blank"><img src="https://www.psd2newsletters.com/templates/purple/images/btn_gplay.png" width="117" height="40" border="0" alt=""></a>
                                </td>
                              </tr>
                            </tbody>
                          </table> -->
                          <!-- END Download App -->
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>													</td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div></table>
    </td>
  </tr>
</tbody></table>
<!-- END Footer -->
</center>
</body>
</html>