<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fwork - Confirm email</title>
  </head>
  <body>
    <center>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 0; padding: 0; width: 100%; height: 100%;" data-bgcolor="Body" bgcolor="#F3F4F6" class="gwfw">
        <tbody><tr>
          <td style="margin: 0; padding: 0; width: 100%; height: 100%;" align="center" valign="top">
            <!-- Logo -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" data-thumbnail="https://dev.fpt.work/images/FTI/7c8f0706-ef4b-475b-b91c-1a7e4dc7352d.png" data-module="Logo">
              <tbody><tr>
                <td align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#F3F4F6">
                  <table width="600" border="0" cellspacing="0" cellpadding="0" class="m-shell ui-resizable">
                    <tbody><tr>
                      <td class="td" style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td class="mpx-10">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td class="gradient pt-10" style="border-radius: 10px 10px 0 0; padding-top: 10px;" data-bgcolor="Logo" bgcolor="#F26A12">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody><tr>
                                        <td class="img-center p-30 px-15" style="border-radius: 10px 10px 0 0; font-size:0pt; line-height:0pt; text-align:center; padding: 30px; padding-left: 15px; padding-right: 15px;" data-bgcolor="bgcolor" bgcolor="#ffffff">
                                          <a href="#" target="_blank">
                                            <img data-crop="false" src="https://dev.fpt.work/images/FTI/15c12a77-2b45-4057-bb0a-aa07fb1d8a29.svg" width="224" height="86" border="0" alt="">
                                          </a>
                                        </td>
                                      </tr>
                                    </tbody></table>
                                  </td>
                                </tr>
                              </tbody></table>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div></table>
                </td>
              </tr>
            </tbody></table>
            <!-- END Logo -->