{{>header}}
<!-- Intro -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" data-thumbnail="http://dev.fpt.work/images/FTI/03dcd7a1-f8dc-4885-85e4-5a3314c728c8.png" data-module="Intro" class="selected-table">
  <tbody><tr>
    <td align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#F3F4F6">
      <table width="600" border="0" cellspacing="0" cellpadding="0" class="m-shell ui-resizable">
        <tbody><tr>
          <td class="td" style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td class="mpx-10">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td class="py-25 px-50 mpx-15" data-bgcolor="Intro" bgcolor="#ffffff" style="padding-top: 25px; padding-bottom: 25px; padding-left: 50px; padding-right: 50px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td class="fluid-img img-center pb-50" style="font-size:0pt; line-height:0pt; text-align:center; padding-bottom: 50px;">
                              <img data-crop="false" src="http://dev.fpt.work/images/FTI/b5eadb61-c738-426e-8241-f02991eb09b4.png" width="300" height="269" border="0" alt="">
                            </td>
                          </tr>
                          <tr>
                            <td data-color="title-color-36" data-size="title-size-36" data-min="12" data-max="36" class="title-36 a-center pb-15" style="font-size:36px; line-height:40px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:center; padding-bottom: 15px;">
                              <strong class="selected-element" contenteditable="true">Forgot your password?</strong>
                            </td>
                          </tr>
                          <tr>
                            <td data-color="text-color-16" data-size="text-size-16" data-min="12" data-max="36" class="text-16 lh-26 a-center pb-25" style="font-size:16px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 26px; text-align:center; padding-bottom: 25px;">
                              Click on the button below to reset your password, you have 24 hours to pick your password. After that, you'll have to ask for a new one.                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <!-- Button -->
                              <table border="0" cellspacing="0" cellpadding="0" style="min-width: 200px;">
                                <tbody><tr>
                                    <td data-bgcolor="btn-color" data-color="btn-color" data-border-color="" data-border-size="btn-border" data-border-size-min="0" data-border-size-max="3" data-size="btn-size" data-min="12" data-max="36" class="btn-16 c-white l-white" bgcolor="#F26A12" style="font-size:16px; line-height:20px; mso-padding-alt:15px 35px; font-family:'PT Sans', Arial, sans-serif; text-align:center; font-weight:bold; text-transform:uppercase; border-radius:25px; min-width:auto !important; color:#ffffff;">
                                    <a href="{{ url }}" target="_blank" class="link c-white" style="display: block; padding: 15px 35px; text-decoration:none; color:#ffffff;">
                                      <span class="link c-white" style="text-decoration:none; color:#ffffff;">Reset password</span>
                                    </a>
                                  </td>
                                </tr>
                              </tbody></table>
                              <!-- END Button -->
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div></table>
    </td>
  </tr>
</tbody></table>
<!-- END Intro -->

<!-- Spacer 25px -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" data-thumbnail="https://dev.fpt.work/images/FTI/ca31311d-9da7-431c-80cc-94adfd393e61.png" data-module="Spacer 25px">
  <tbody><tr>
    <td align="center" valign="top" data-bgcolor="Body" data-primary-order="1" data-primary-type="bgcolor" bgcolor="#F3F4F6">
      <table width="600" border="0" cellspacing="0" cellpadding="0" class="m-shell ui-resizable">
        <tbody><tr>
          <td class="td" style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td class="mpx-10">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td class="img" height="25" data-height="Spacer 25px" data-height-min="1" data-height-max="50" data-bgcolor="Spacer 25px" bgcolor="#ffffff" style="font-size:0pt; line-height:0pt; text-align:left;">&nbsp;</td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div></table>
    </td>
  </tr>
</tbody></table>
<!-- END Spacer 25px -->
{{>footer}}